interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap-env:Body><ns0:registraOrden
      xmlns:ns0=\"http://h2h.integration.spei.enlacefi.lgec.com/\"><ordenPago><claveRastreo>CR1548381935</claveRastreo><conceptoPago>PRUEBA
      Version 2</conceptoPago><cuentaBeneficiario>072691004495711499</cuentaBeneficiario><cuentaOrdenante>646180157000000004</cuentaOrdenante><empresa>TAMIZI</empresa><firma>fBYwBalaazYYPjYKQ+vu+RXVMq3QJN1BLnharzDJ3eDv0PMY0pAr55tpBEhExsQIs9B5wmi/LgNE0K8g2XBAJFxPdwCPqalwLmg3DCVN68XMrQh+ziAo8PvIfB92JupcJtKgTH5KgXFti/+sGvJhxdDOANWOqNxPhnTEQAcXHd0=</firma><institucionContraparte>40072</institucionContraparte><institucionOperante>90646</institucionOperante><medioEntrega>3</medioEntrega><monto>10.2</monto><nombreBeneficiario>Pablo
      S\xE1nchez</nombreBeneficiario><nombreOrdenante>BANCO</nombreOrdenante><prioridad>1</prioridad><referenciaNumerica>4978049</referenciaNumerica><rfcCurpBeneficiario>ND</rfcCurpBeneficiario><rfcCurpOrdenante>ND</rfcCurpOrdenante><tipoCuentaBeneficiario>40</tipoCuentaBeneficiario><tipoPago>1</tipoPago><topologia>T</topologia></ordenPago></ns0:registraOrden></soap-env:Body></soap-env:Envelope>"
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['""']
    method: POST
    uri: https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices
  response:
    body: {string: '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns0:registraOrdenResponse
        xmlns:ns0="http://h2h.integration.spei.enlacefi.lgec.com/"><return><id>5710031</id></return></ns0:registraOrdenResponse></S:Body></S:Envelope>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
