interactions:
- request:
    body: '{"monto": 10.2, "conceptoPago": "PRUEBA", "cuentaBeneficiario": "072691004495711499",
      "nombreBeneficiario": "Ricardo Sanchez Castillo de la Mancha S", "institucionContraparte":
      "40072", "cuentaOrdenante": "646180157000000004", "nombreOrdenante": "Ricardo
      Sanchez Castillo de la Mancha S", "institucionOperante": "90646", "tipoCuentaBeneficiario":
      40, "tipoCuentaOrdenante": 40, "claveRastreo": "CR1577739689", "referenciaNumerica":
      3512141, "rfcCurpBeneficiario": "ND", "rfcCurpOrdenante": "ND", "prioridad":
      1, "medioEntrega": 3, "tipoPago": 1, "topologia": "T", "firma": "UMQ210msYweDqSvw+ZgAKLb3Il3Q3rRdULXX8kni3Uu76ELIyg93lju+bD49jKQ1itYVUbJGP9/JVi8Jr/BGCRp9+G1lKH1zy1qjiQ+8fRFb2I/idKHPvz7DpCwIqdYOVE0vEbP/wkEUvQ3/nwLzny75HenIlHYuaHrNDfEAp9U=",
      "empresa": "TAMIZI"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speidemows/rest/ordenPago/registra
  response:
    body:
      string: '{"resultado":{"id":3}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
