export PYTHONPATH=`pwd`
export FLASK_APP=stpmex_handler

if [ -f venv/bin/activate ]; then
    source venv/bin/activate
fi

if [ -f .env ]; then
    while read line; do
        export $line
    done < .env
fi
