# Copy this to your .env file

DATABASE_URI=postgresql://postgres@db/postgres
PYTHONPATH=/speid
FLASK_SKIP_DOTENV=1
AMPQ_ADDRESS=rabbitmq
SPEID_ENV=prod
FLASK_APP=speid
FLASK_ENV=development
STP_WSDL=https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices?wsdl
STP_EMPRESA=YOUR_EMPRESA
STP_KEY_PASSPHRASE=12345678
STP_PREFIJO=9999
STP_PRIVATE_KEY=name_your_pem.pem
STP_BUCKET_S3=bucket_where_to_obtain_pem
STP_PRIVATE_LOCATION=pk.pem
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY