# Copy this to your .env file

COVERALLS_REPO_TOKEN=
DATABASE_URI=postgresql://postgres@db/postgres
PYTHONPATH=/speid
FLASK_SKIP_DOTENV=1
AMPQ_ADDRESS=rabbitmq
AMPQ_ADDRESS_TYPE=host
SPEID_ENV=prod
FLASK_APP=speid
FLASK_ENV=development
STP_WSDL=https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices?wsdl
STP_EMPRESA=TAMIZI
STP_KEY_PASSPHRASE=12345678
STP_PREFIJO=1570
STP_PRIVATE_KEY=prueba-key.pem
STP_BUCKET_S3=stpcuenca
STP_PRIVATE_LOCATION=pk.pem
EDIT_HOSTS=false
CALLBACK_URL=https://testapi/set
CALLBACK_API_KEY=user
CALLBACK_API_SECRET=pass
SENTRY_DSN=https://1@sentry.io/2
RECON_BUCKET_S3=
RECON_AWS_ACCESS_KEY_ID=
RECON_AWS_SECRET_ACCESS_KEY=