# Copy this to your .env file

DATABASE_URI=mongomock://localhost:27017/db
PYTHONPATH=/speid
FLASK_SKIP_DOTENV=1
AMPQ_ADDRESS=rabbitmq
AMPQ_ADDRESS_TYPE=host
SPEID_ENV=debug
FLASK_APP=speid
FLASK_ENV=development
STP_WSDL=tests/conf_files/stp_wsdl.wsdl
STP_EMPRESA=TAMIZI
STP_KEY_PASSPHRASE=12345678
STP_PREFIJO=1570
STP_PRIVATE_KEY=prueba-key.pem
STP_BUCKET_S3=stpcuenca
STP_PRIVATE_LOCATION=tests/conf_files/pk.pem
EDIT_HOSTS=false
CALLBACK_URL=https://testapi/set
CALLBACK_API_KEY=user
CALLBACK_API_SECRET=pass
SENTRY_DSN=https://1@sentry.io/2
RECON_BUCKET_S3=bucket_name
RECON_AWS_ACCESS_KEY_ID=some_random_access_key
RECON_AWS_SECRET_ACCESS_KEY=super_secret
TASK_DEFAULT_QUEUE=speid.sample
CELERY_TASK_NAME=speid.tasks.send_order
CLABES_BLOCKED=646180157000000666
INCOMING_CLABES_BLOCKED=846180000500000009
MAX_AMOUNT=100000
IGNORED_EXCEPTIONS=Servicio no disponible
NEW_RELIC_LICENSE_KEY=foo
