blinker==1.4
boto3==1.14.13
celery==4.4.6
docker==4.2.1
Flask==1.1.2
flask-mongoengine==0.9.5
luhnmod10==1.0.2
newrelic==5.14.1.144
pandas==1.0.5
python-hosts==1.0.0
sentry-sdk==0.15.1
pydantic==1.5.1
stpmex==3.5.2