Flask>=1.0,<1.1
stpmex>=1.0.0
boto3>=1.9,<2.0
celery>=4.2,<4.3
python-hosts>=0.4,<0.5
clabe>=0.2.1,<0.3
luhnmod10>=1.0.2
sentry-sdk>=0.5.3
vcrpy>=2.0.1
flask-mongoengine>=0.9.5
blinker>=1.4
pydantic>=0.22
docker>=4.0.1
pandas>=0.24.2
