blinker==1.4
boto3==1.16.*
celery==5.2.3
Flask==2.0.3
flask-mongoengine==1.0.0
luhnmod10==1.0.2
mongoengine==0.23.1
newrelic==6.2.0.156
pandas==1.2.4
pydantic==1.7.4
python-hosts==1.0.1
sentry-sdk==0.19.5
stpmex==3.8.0.dev3
