interactions:
- request:
    body: '{"empresa": "TAMIZI", "tipoOrden": "R", "fechaOperacion": "20231106", "page":
      0, "firma": "ul4LIFvxiANuh+rPjoQ6oUB1bpkJ6bWtLUheHxL+Zs1adDSQXO2mSsnAsAEDRZ7zno7D+GVuV98VP6w+7ebyZxC8IcQWL+57eTiRDj4c24O4fkqd9jnM+8Ba9FtsYSSVyP9YDUhWuxe1hpgWxqqzm9F/Pvro40vcyC7S3meknOQ="}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://efws-dev.stpmex.com/efws/API/V2/conciliacion
  response:
    body:
      string: '{"estado":0,"mensaje":"Datos consultados correctamente","datos":[{"idEF":14643667,"claveRastreo":"PruebaDevolucion1","claveRastreoDevolucion":null,"conceptoPago":"Pago
        de prueba","cuentaBeneficiario":"646180157018877012","cuentaOrdenante":"646180117200000019","empresa":"TAMIZI","estado":"TCL","fechaOperacion":20231106,"institucionContraparte":90646,"institucionOperante":90646,"medioEntrega":3,"monto":0.01,"nombreBeneficiario":"Beneficiario","nombreOrdenante":"AXEL
        SERNA MANRIQUEZ","nombreCep":"ARTERIA LABS","rfcCep":"TCU200828RX8","sello":null,"rfcCurpBeneficiario":"ND","referenciaNumerica":1234567,"rfcCurpOrdenante":"HESJ871014NZ5","tipoCuentaBeneficiario":40,"tipoCuentaOrdenante":40,"tipoPago":1,"tsCaptura":1699305268142,"tsLiquidacion":1699305273297,"causaDevolucion":16,"urlCEP":null},{"idEF":14643668,"claveRastreo":"PruebaDevolucion2","claveRastreoDevolucion":null,"conceptoPago":"Pago
        de prueba","cuentaBeneficiario":"646180157018877012","cuentaOrdenante":"646180117200000019","empresa":"TAMIZI","estado":"TCL","fechaOperacion":20231106,"institucionContraparte":90646,"institucionOperante":90646,"medioEntrega":3,"monto":10.00,"nombreBeneficiario":"Beneficiario","nombreOrdenante":"AXEL
        SERNA MANRIQUEZ","nombreCep":"ARTERIA LABS","rfcCep":"TCU200828RX8","sell[...]
- request:
    body: '{"empresa": "TAMIZI", "claveRastreo": "PruebaLiquidacion", "tipoOrden":
      "R", "fechaOperacion": "20231106", "firma": "FsSYICoZcp7K5dzh/ZHCYKY4Yhww7xuXcR26A49gl2Ts9eEsu5zinhE8d5D4vv/QW4sErCGQaqSh/E0P2FyrFc31onu/MOlfNMScpQNqpqdyDtOtgSWPiUAnZzJa4FCchEee7ipXXcjrLmYYqMNQ2cxtAjJCRLyj3xh0AwY+OnA="}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://efws-dev.stpmex.com/efws/API/consultaOrden
  response:
    body:
      string: '{"estado":0,"mensaje":"Datos consultados correctamente","respuesta":{"idEF":14643669,"claveRastreo":"PruebaLiquidacion","conceptoPago":"Pago
        de prueba","cuentaBeneficiario":"646180157093203384","cuentaOrdenante":"646180117200000019","empresa":"TAMIZI","estado":"TLQ","fechaOperacion":20231106,"institucionContraparte":90646,"institucionOperante":90646,"medioEntrega":3,"monto":10.00,"nombreBeneficiario":"Beneficiario","nombreOrdenante":"AXEL
        SERNA MANRIQUEZ","nombreCep":null,"rfcCep":"LOHF890619HCSPRL05","sello":null,"rfcCurpBeneficiario":"ND","referenciaNumerica":1234567,"rfcCurpOrdenante":"HESJ871014NZ5","tipoCuentaBeneficiario":40,"tipoCuentaOrdenante":40,"tipoPago":1,"tsCaptura":1699305355728,"tsLiquidacion":1699305357446,"causaDevolucion":null,"urlCEP":"https://www.banxico.org.mx/cep/go?i=90646&s=20210302&d=XfVFFhWLrRXzfkDf%2BBz64wPUzwUabY0yviP6eTGyEL46eBrnViyvbTEM3P%2FwRTZ%2B5FmNtb%2FlC1Xu7od8ZyxwuBDPDiF2cVf7FFLlJ5KdMRI%3D"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
