interactions:
- request:
    body: '{"monto": 10.0, "conceptoPago": "PRUEBA 8070", "cuentaBeneficiario": "072691004495711499",
      "nombreBeneficiario": "Pablo Sanchez", "institucionContraparte": "40072", "cuentaOrdenante":
      "646180157018613700", "nombreOrdenante": "BANCO", "institucionOperante": "90646",
      "tipoCuentaBeneficiario": 40, "tipoCuentaOrdenante": 40, "claveRastreo": "CR1698366540",
      "referenciaNumerica": 9486455, "rfcCurpBeneficiario": "ND", "rfcCurpOrdenante":
      "ND", "prioridad": 1, "medioEntrega": 3, "tipoPago": 1, "topologia": "T", "firma":
      "dEzSpoMpp+WvzgoYtXcruMMdK0Q/qqsUkwnh8vwOFXaph5e8BitET8Y/HWDa9xfODsNA4u7ChxA19fYhEZVF2FNtDlMb7hv7HgOKda/vHWwWcYtKo9/oUIndnCZecb0+BGgLOqCgOOdp4y9qndDj2bMs/jK27kLYtPrt7nmCt4U=",
      "empresa": "TAMIZI"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speiws/rest/ordenPago/registra
  response:
    body:
      string: '{"resultado":{"id":21787417}}'
    headers:
      Content-Type:
      - application/json
      X-ORACLE-DMS-ECID:
      - bc722c26-d789-4f18-88dc-059072b5d031-0001617e
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
version: 1
