interactions:
- request:
    body: '{"monto": 10.0, "conceptoPago": "PRUEBA 9524", "cuentaBeneficiario": "072691004495711499",
      "nombreBeneficiario": "Pablo Sanchez", "institucionContraparte": "40072", "cuentaOrdenante":
      "646180157082332965", "nombreOrdenante": "BANCO", "institucionOperante": "90646",
      "tipoCuentaBeneficiario": 40, "tipoCuentaOrdenante": 40, "claveRastreo": "CR1667947295",
      "referenciaNumerica": 9813989, "rfcCurpBeneficiario": "ND", "rfcCurpOrdenante":
      "ND", "prioridad": 1, "medioEntrega": 3, "tipoPago": 1, "topologia": "T", "firma":
      "Ycjv5bE2NWQ6jJAtcddaKGRmZJBAk2EICyBLDO5we9YFYcj5ymjIB2RMUcxgPe5g2MPs5UhOBVAGHf223Eu/P4IJsaMg7GwKdv0e6hJsXKvlfEJgljuwgYKzoDjDtjTmfOw9yiKUgm1h0xnvvd/OXkdMJ9AM+a/zJpTxxAPfM+E=",
      "empresa": "TAMIZI"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speiws/rest/ordenPago/registra
  response:
    body:
      string: '{"resultado":{"id":4476052}}'
    headers:
      Content-Type:
      - application/json
      X-ORACLE-DMS-ECID:
      - d26d7b05-0759-4d96-b1fc-1060b5c5f50e-00002692
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
version: 1
