interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://h2h.integration.spei.enlacefi.lgec.com/SpeiActualizaServices/registraOrdenRequest</wsa:Action><wsa:MessageID>urn:uuid:fe499078-4dfb-4ca1-9704-d9fabc76e9f0</wsa:MessageID><wsa:To>https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices</wsa:To></soap-env:Header><soap-env:Body><ns0:registraOrden
      xmlns:ns0="http://h2h.integration.spei.enlacefi.lgec.com/"><ordenPago><claveRastreo>CR1555969232</claveRastreo><conceptoPago>DebitCardTest</conceptoPago><cuentaBeneficiario>4242424242424242</cuentaBeneficiario><cuentaOrdenante>646180157000000004</cuentaOrdenante><empresa>TAMIZI</empresa><fechaOperacion>2019-04-22T21:21:15.780000</fechaOperacion><firma>fqNZubMd4kZJg9zdjPgbWr19kS4oxUs6jgoj1zldc6kR0WIw/3G0jBgKj7r4OGtJvIjI/oZkOb/sZNnkbV5gLmK2hTIcbMScP7IfxB/F50LJ9SKi+jDLt3GPe2Lh/ckJGw7ypZsDDQ2KZWxLou71HKS61KEkMHMPGKK87XvpMfg=</firma><institucionContraparte>072</institucionContraparte><institucionOperante>646</institucionOperante><medioEntrega>3</medioEntrega><monto>10.2</monto><nombreBeneficiario>Pach</nombreBeneficiario><nombreOrdenante>BANCO</nombreOrdenante><prioridad>1</prioridad><referenciaNumerica>7675570</referenciaNumerica><rfcCurpBeneficiario>ND</rfcCurpBeneficiario><rfcCurpOrdenante>ND</rfcCurpOrdenante><tipoCuentaBeneficiario>3</tipoCuentaBeneficiario><tipoPago>1</tipoPago><topologia>T</topologia></ordenPago></ns0:registraOrden></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices
  response:
    body: {string: '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns0:registraOrdenResponse
                 xmlns:ns0="http://h2h.integration.spei.enlacefi.lgec.com/"><return><id>5554986</id></return></ns0:registraOrdenResponse></S:Body></S:Envelope>'}
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
