interactions:
- request:
    body: '{"monto": 10.3, "conceptoPago": "PRUEBA 2", "cuentaBeneficiario": "072691004495711499",
      "nombreBeneficiario": "Pablo Sanchez", "institucionContraparte": "40072", "cuentaOrdenante":
      "646180157082332965", "nombreOrdenante": "BANCO", "institucionOperante": "90646",
      "tipoCuentaBeneficiario": 40, "tipoCuentaOrdenante": 40, "claveRastreo": "CR1666282229",
      "referenciaNumerica": 4969905, "rfcCurpBeneficiario": "ND", "rfcCurpOrdenante":
      "ND", "prioridad": 1, "medioEntrega": 3, "tipoPago": 1, "topologia": "T", "firma":
      "iPruOlfR2VKQ+FN7pGlibGZF6uXv1Uskv0+53xpMg7rMyVzWWvO2M66vmAAuqX4/tl5ViX+BSDFP/sBNJAPDTvgRESwd10/iQ18b1uPn1MR6FZZ6pr4LNrVgqTZNC9PWFf/2N62TFzv4mXBdMJWfhzevqhimxD9xfJoO99f+XOQ=",
      "empresa": "TAMIZI"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speiws/rest/ordenPago/registra
  response:
    body:
      string: '{"resultado":{"id":3471094}}'
    headers:
      Content-Type:
      - application/json
      X-ORACLE-DMS-ECID:
      - caf9e530-1d86-4f58-82ee-095674dc8b9c-00002cd7
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: '{"empresa": "TAMIZI", "claveRastreo": "CR1666282229", "institucionOperante":
      90646, "fechaOperacion": "20221020", "firma": "B+BcBLgNBtpCZ52nfJxxkkkmIbuXBBoCFXFJ77IU7dE6NEdRHwtbQNan77M59T79LCUnsziHVNEUp18HLW41fQdJI+imq6vzkxbpRM6GXpLbPDkOL4szGsB/gst6+CvEEq1A5+wP4APVGDyb5wBQFarZd5thTll9TEBM1mPbXQ4="}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://demo.stpmex.com:7024/speiws/rest/ordenPago/consOrdEnvRastreo
  response:
    body:
      string: '{"resultado":{"id":1,"ordenPago":{"clavePago":"","claveRastreo":"CR1666282229","conceptoPago":"PRUEBA
        2","conceptoPago2":"","cuentaBeneficiario":"072691004495711499","cuentaBeneficiario2":"","cuentaOrdenante":"646180157082332965","empresa":"TAMIZI","estado":"TCL","fechaOperacion":20221020,"folioOrigen":"CR1666282229","idCliente":"CR1666282229","idEF":3471094,"institucionContraparte":40072,"institucionOperante":90646,"medioEntrega":3,"monto":10.30,"nombreBeneficiario":"Pablo
        Sanchez","nombreBeneficiario2":"","nombreOrdenante":"Manuel Avalos Tovar","prioridad":1,"referenciaCobranza":"","referenciaNumerica":4969905,"rfcCurpBeneficiario":"ND","rfcCurpBeneficiario2":"","rfcCurpOrdenante":"AATM970329HDFVVN05","tipoCuentaBeneficiario":40,"tipoCuentaOrdenante":40,"tipoPago":1,"topologia":"V","tsCaptura":1666282229919,"usuario":"tamizi"}}}'
    headers:
      Content-Type:
      - application/json
      X-ORACLE-DMS-ECID:
      - caf9e530-1d86-4f58-82ee-095674dc8b9c-00002cd8
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
version: 1
