interactions:
- request:
    body: '{"cuenta": "646180157000000004", "rfcCurp": "SACR891125HDFABC01", "nombre":
      "Ric", "apellidoPaterno": "San"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speiws/rest/cuentaModule/fisica
  response:
    body:
      string: '{"descripcion":"rfc/curp invalido","id":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"cuenta": "646180157000000004", "empresa": "TAMIZI", "rfcCurp": "SACR891125HDFABC01",
      "firma": "chCJ6bn8/96m4ofvHp3t5BmHikW5NMfrAB+x+RqIbF+h/a/rWx3E5S/RphqUd30Rj1X86VeHS3VpzDq5eTiI3LlWaQWRFitgPbKqMozt5/T3EKo9T6WDER/ifo9wYyZ7kwpe5g84rCxAnXa30/7B+gr0UjlaDF+Cxl581o4yrLQ="}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://demo.stpmex.com:7024/speiws/rest/cuentaModule/fisica
  response:
    body:
      string: '{"descripcion":"","id":0}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"cuenta": "646180157000000004", "rfcCurp": "SACR891125HDFABC02", "nombre":
          "Ricardo", "apellidoPaterno": "Sánchez", "apellidoMaterno": "Castillo"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speiws/rest/cuentaModule/fisica
  response:
    body:
      string: '{"descripcion":"","id":0}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
