interactions:
- request:
    body: '{"monto": 10.0, "conceptoPago": "PRUEBA 4366", "cuentaBeneficiario": "072691004495711499",
      "nombreBeneficiario": "Pablo Sanchez", "institucionContraparte": "40072", "cuentaOrdenante":
      "646180157018613700", "nombreOrdenante": "BANCO", "institucionOperante": "90646",
      "tipoCuentaBeneficiario": 40, "tipoCuentaOrdenante": 40, "claveRastreo": "CUENCA11233453522",
      "referenciaNumerica": 9914123, "rfcCurpBeneficiario": "ND", "rfcCurpOrdenante":
      "ND", "prioridad": 1, "medioEntrega": 3, "tipoPago": 1, "topologia": "T", "firma":
      "XFGaZ23EZdmpho4VFaULlUcxwtQdKYjiguU7lW/VyC0WtKX8tVcjxk8ElmOSAfDNTBpoqx2HHAvgoEqk4Ps+GaprzObuA3/RDjynuIufapPr0i2fwSpC32p1rSxlHfu/4HWJMptUkWMlyD/rDshv/Ew3oSrnokPFhwdnPv8jszo=",
      "empresa": "TAMIZI"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speiws/rest/ordenPago/registra
  response:
    body:
      string: '{"resultado":{"id":21816634}}'
    headers:
      Content-Type:
      - application/json
      X-ORACLE-DMS-ECID:
      - 79686785-9753-47ed-a145-67590ecf1a44-0001774e
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
version: 1
