interactions:
- request:
    body: '{"monto": 10.2, "conceptoPago": "PRUEBA Version 2", "nombreBeneficiario":
            "Pablo Sanchez", "cuentaBeneficiario": "072691004495711499", "institucionContraparte":
            "40072", "tipoCuentaBeneficiario": 40, "nombreOrdenante": "BANCO", "cuentaOrdenante":
            "646180157000000004", "institucionOperante": "90646", "claveRastreo": "CR1577408400",
            "referenciaNumerica": 4310058, "rfcCurpBeneficiario": "ND", "rfcCurpOrdenante":
            "ND", "medioEntrega": 3, "prioridad": 1, "tipoPago": 1, "topologia": "T", "firma":
            "iHArfNX+XpuNMelQ+YrDj7bQZ1LvclooqokW+PuN5tTr1p/gb0lAyuo2V/y/495ULv3BR+ublu7ndzU1mYOxI3XMeX5048GsNCXNhnntqCVBDYIM3tzdqGNYpgXPKusFHxLZg6ODPIAogS867zRdxgslHy3lpqNYQwjqW/OGjHU=",
            "empresa": "TAMIZI"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speidemows/rest/ordenPago/registra
  response:
    body:
      string: "{\"resultado\":{\"descripcionError\":
      \"El tipo de cuenta 3 es invalido\",\"id\":-11}}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
