interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap-env:Header
      xmlns:wsa=\"http://www.w3.org/2005/08/addressing\"><wsa:Action>http://h2h.integration.spei.enlacefi.lgec.com/SpeiActualizaServices/registraOrdenRequest</wsa:Action><wsa:MessageID>urn:uuid:1712354e-ec47-4e05-81b7-7fd8a4d5d120</wsa:MessageID><wsa:To>https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices</wsa:To></soap-env:Header><soap-env:Body><ns0:registraOrden
      xmlns:ns0=\"http://h2h.integration.spei.enlacefi.lgec.com/\"><ordenPago><claveRastreo>CR1555969592</claveRastreo><conceptoPago>PRUEBA
      Version 2</conceptoPago><cuentaBeneficiario>072691004495711499</cuentaBeneficiario><cuentaOrdenante>646180157000000004</cuentaOrdenante><empresa>TAMIZI</empresa><fechaOperacion>2019-04-22T21:46:32.072517</fechaOperacion><firma>TQwCX5DJOLCJt7M0owxJ8Pw8j71ImMAa4/koeAh2M1xGl0uhwlnvllzKo04dlrGgLnCzugjHx/iUFPxg9DnolqFsYr/51HcNkpWU8Tgdm+V7TJSmYdW3iO6Gk6dhWIFXIyHgV3ECJnFsX2dHEonDuo1VEOdajeCHVQYB8XaskFg=</firma><institucionContraparte>40072</institucionContraparte><institucionOperante>90646</institucionOperante><medioEntrega>3</medioEntrega><monto>10.2</monto><nombreBeneficiario>Pablo
      S\xE1nchez</nombreBeneficiario><nombreOrdenante>BANCO</nombreOrdenante><prioridad>1</prioridad><referenciaNumerica>5197274</referenciaNumerica><rfcCurpBeneficiario>ND</rfcCurpBeneficiario><rfcCurpOrdenante>ND</rfcCurpOrdenante><tipoCuentaBeneficiario>40</tipoCuentaBeneficiario><tipoPago>1</tipoPago><topologia>T</topologia></ordenPago></ns0:registraOrden></soap-env:Body></soap-env:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices
  response:
    body: {string: '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns0:registraOrdenResponse
                 xmlns:ns0="http://h2h.integration.spei.enlacefi.lgec.com/"><return><id>5554986</id></return></ns0:registraOrdenResponse></S:Body></S:Envelope>'}
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
